:root {
    --blue: #0b2e41;
    --aqua: #00c7ea;
    --light: #cad7e0;
}
body{
    height: 3000px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

.soc-icon {
    background-color: var(--aqua);
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 25px;
    column-gap: 5px;
    list-style: none;
}

.soc-icon__link {
    width: 25px;
    height: 5px;
    background-color: var(--blue);
}

.header {
    background-color: var(--aqua);
    color: #ffffff;
}
.nav__button{
    width: 60px;
    height: 60px;
    position: absolute;
    background-color: var(--aqua);
    right: 20px;
    display: none;
    align-items: center;
    justify-content: center;
}
.nav__button span{
    display: inline-block;
    width: 80%;
    height: 7px;
    background-color: #ffffff;
    border-radius: 8px;
    position: relative;
}
.nav__button span::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #ffffff;
    position: absolute;
    bottom: 12px;
}
.nav__button span::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #ffffff;
    position: absolute;
    top: 12px;
}

.header__top {
    padding: 10px 0 20px;
    background-color: var(--light);
    position: relative;
}

.header__top_grid {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.header__logo {
    height: 50px;
    width: 150px;
    border-radius: 5px;
    background-color: var(--blue);


}

.nav__item {
    display: inline-block;
    margin-right: 15px;
}

.nav__item a {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    transition: color .5s;
    color: var(--blue);
    font-weight: 900;
}

.nav__item a:hover {
    color: #fff;
}

.header__main {
    display: flex;
    justify-content: center;
    flex-direction: column; /*вісь змінилась*/
    align-items: center;
    row-gap: 25px;
    padding: 100px 0;
}

.header__text {
    width: 80%;
    line-height: 24px;
    text-align: center;
    color: #000;
}

.header__main button {
    margin-top: 25px;
    background-color: var(--blue);
    width: 300px;
    color: white;
    border-radius: 20px;
    height: 50px;
    cursor: pointer;
    border: none;
}

.products {
    padding: 100px;
    background-color: var(--light);
}



.products_grid {
    border: 1px solid var(--aqua);
    border-radius: 20px;
    padding: 20px;
}

.products__list {
    display: flex;
    column-gap: 30px;
}

.products__item {
    flex-grow: 1;
}

.products__item p {
    text-align: center;
    margin-top: 15px;
}

.products__item_img {
    height: 200px;
    background-color: var(--blue);
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.about {
    background-color: var(--blue);
    padding: 50px 0;
}

.about__grid {
    display: flex;
    justify-content: space-between;
}

.about_card {
    width: 30%;
    border: 2px solid transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    color: #ffffff;
    transition: all 0.3s;
    padding: 10px;
    cursor: pointer;
}

.about_card:hover{
    border-color: var(--aqua);
}

.about__photo > div {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--light);

}
.about__name{
    font-size: 22px;
    font-weight: 700;
}
.information {
    padding: 100px;
    background-color: var(--light);
}
.information__title{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    padding: 0 0 50px;
    box-sizing: border-box;
}
.information__title_first{
    background-color: var(--blue);
    height: 10px;
    width: 50px;
    border-radius: 8px;
}
.information__title_second{
    background-color: var(--blue);
    height: 10px;
    width: 100px;
    border-radius: 8px;
}
.information__blocks{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    width: 100%;
}
.block__grid{
    border: 1px solid var(--aqua);
    border-radius: 10px;
    flex-grow: 1;
    padding: 20px;
    height: 400px;
    width: 28%;
}
.block__img{
    height: 150px;
    background-color: var(--blue);
    border-radius: 10px;
}
.block__signature{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;

}
.block__title{
    background-color: var(--blue);
    height: 5px;
    width: 50px;
    border-radius: 8px;
}
.block__buttons{
    display: flex;
    column-gap: 5px;
}
.block__button{
    background-color: var(--blue);
    height: 5px;
    width: 10px;
    border-radius: 8px;
}
.block__content__title{
    align-items: center;
}
.block__content{
    padding: 20px 0;
}
.block__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    border-top: 1px solid var(--aqua) ;
    padding-top: 30px;
}
.block__menu_left{
    height: 20px;
    width: 50px;
    background-color: var(--blue);
    border-radius: 8px;
}
.block__menu_right{
    display: flex;
    column-gap: 5px;
}
.menu__right__item{
    background-color: var(--blue);
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.information__block__other{
    display: flex;
    padding: 100px 0;
}
.other_blue{
    background-color: var(--blue);
    width: 50%;
}

.other_blue__title{
    display: flex;
    column-gap: 10px;
    padding:50px 50px 20px;
    box-sizing: border-box;
}
.other__blue__title_first{
    background-color: var(--aqua);
    height: 10px;
    width: 50px;
    border-radius: 8px;
}
.other__blue__title_second{
    background-color: var(--aqua);
    height: 10px;
    width: 100px;
    border-radius: 8px;
}
.other__blue__content{
    color: var(--aqua);
    padding: 0 50px 30px;

}
.other__blue__button{
    background-color: var(--aqua);
    height: 60px;
    width: 200px;
    border-radius: 40px;
    box-sizing: border-box;
    margin: 0 50px 50px;
}




.other_aqua{
    background-color: var(--aqua);
    width: 50%;
}

.other_aqua__title{
    display: flex;
    column-gap: 10px;
    padding:50px 50px 20px;
    box-sizing: border-box;
}
.other__aqua__title_first{
    background-color: var(--blue);
    height: 10px;
    width: 50px;
    border-radius: 8px;
}
.other__aqua__title_second{
    background-color: var(--blue);
    height: 10px;
    width: 100px;
    border-radius: 8px;
}
.other__aqua__content{
    color: var(--blue);
    padding: 0 50px 30px;

}
.other__aqua__button{
    background-color: var(--blue);
    height: 60px;
    width: 200px;
    border-radius: 40px;
    box-sizing: border-box;
    margin: 0 50px 50px;
}
.footer{
    background-color: var(--blue);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__items{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    width: 300px;
    border-bottom: 1px solid var(--aqua);
}
.footer__item{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: var(--light);
    margin-bottom: 20px;
}
