@media  screen and (max-width: 320px) {
    .nav .nav-dropdown, .nav .nav-buttons, .header-menu {
        display: none;
    }

    .d-none-mobile {
        display: none;
    }

    .nav {
        justify-content: start;
    }

    .nav-mobile, .header-menu-mobile {
        display: flex;
    }

    .header-logo, .header-phone {
        width: 50%;
        align-items: start;
    }

    .header-logo .logo-title h1 {
        font-size: 13px;
        font-weight: bold;
    }

    .header-logo .logo-title p {
        font-weight: bold;
        font-size: 10px;
    }

    .header-logo img {
        height: 40px;
        width: 37px;
    }

    .button-catalog {
        padding: 13px 5px;
        border-radius: 3px;
    }

    .content-slider {
        width: 100%;
        display: flex;
        /*margin: 30px 0;*/
        padding:10px;
    }

    .slider {
        width: 100%;
    }


    .carousel-item .carousel-item-text h2 {
        font-size: 16px;
        line-height: 16px;
        text-align: start;
    }

    .carousel-item .carousel-item-text p {
        font-size: 10px;
        line-height: 10px;
        padding-bottom: 15px;
    }

    .carousel-item-price {
        flex-direction: column-reverse;
        align-items: start;
    }

    .carousel-item .carousel-item-text .carousel-item-price h3 {
        font-weight: bold;
        font-size: 15px;
        line-height: 6px;
        margin-top: 5px;
    }


    .carousel-item .carousel-item-text .carousel-item-price span {
        font-size: 10px;
        line-height: 12px;
    }

    .content-slider .slider-side, .slider-2 {
        display: none;
    }

    .carousel-box {
        width: 100%;
        margin: 10px 0;
    }

    .carousel-box-description p {
        font-size: 12px;
        line-height: 16px;
    }

    .carousel-item .carousel-caption img {
        right: 40px;
        bottom: -30px;
    }

    .carousel-item .carousel-item-text {
        bottom: -20px;
        left: -35px;
    }

    .carousel-item .carousel-caption button, .product-item button {
        padding: 5px 10px 5px 1px ;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 5px;
    }

    .carousel-item .carousel-caption button img, .product-item button img {
        height: 12px;
        width: 12px;
    }

    .side-box {
        margin-top: 10px;
    }

    .content-buttons {
        padding: 0 10px;
        column-gap: 5px;
    }

    .content-blue-button {
        font-size: 12px;
        line-height: 14px;
        padding: 5px 10px;
    }

    .content-white-button  {
        font-size: 12px;
        line-height: 14px;
        padding: 5px 10px;
    }

    .products-list {
        width: 100%;
        padding: 10px;
    }

    .product-item {
        width: 50%;
        padding-bottom: 1px;
    }

    .product-item h2 {
        font-size: 12px;
        line-height: 17px;
    }

    .product-item h2 span {
        font-size: 10px;
        line-height: 12px;
    }

    .content-news {
        padding: 10px 10px 50px;
    }

    .news {
        flex-direction: column;
    }

    .news-column {
        width: 100%;
        margin: 0;
    }

    .content-news h2 {
        padding: 0;
        font-size: 19px;
        line-height: 19px;
    }

    .news-column div {
        font-size: 10px;
        line-height: 12px;
        width: 25%;
    }

    .news-column p {
        margin: -15px 0 30px;
        font-size: 12px;
        line-height: 18px;
        font-weight: bold;
    }

    .footer , .footer-left-column, .footer-right-top {
        flex-direction: column;
    }

    .footer {
        padding: 20px 10px;
    }

    .footer-left-column .footer-column, .footer-right-top .footer-column {
        width: 320px;
    }

    .footer-column p {
        font-size: 12px;
        line-height: 10px;
        font-weight: bold;
        margin: 15px 10px;
    }

    .footer-main-title {
        flex-direction: column;
    }

    .footer-main p  {
        width: 320px;
        padding-right: 40px;
        margin: 5px 10px;
    }

    .footer-main p span {
        font-size: 14px;
        line-height: 16px;
    }

    .footer-main .input-group {
        padding-left: 0;
        width: 320px;
    }

    .footer-main .input-group button {
        font-size: 12px;
        line-height: 10px;
        padding: 5px 15px;
    }

    .icons {
        justify-content: start;
    }

    .icons img {
        margin: 20px;
    }

    .footer-bottom {
        background-color: #0E1E2F;
        border-top: 1px solid #203246 ;
    }

    .footer-bottom h2 {
        font-size: 12px;
        line-height: 14px;
    }




    
}